.about-us-history-swiper .swiper-pagination {
  @apply lg:bottom-5 bottom-0;
}

.about-us-history-swiper .swiper-pagination .swiper-pagination-bullet {
  @apply !w-[13.5px] !h-[13.5px] rounded-full bg-[#cccccc];
}

.about-us-history-swiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply !w-[13.5px] !h-[13.5px] rounded-full bg-primary-main;
}

.about-us-trophies-swiper {
  @apply lg:h-auto h-[490px];
}

.about-us-trophies-swiper .swiper-pagination {
  @apply lg:bottom-[-5px] bottom-0;
}

.about-us-trophies-swiper .swiper-pagination .swiper-pagination-bullet {
  @apply !w-[13.5px] !h-[13.5px] rounded-full bg-[#cccccc];
}

.about-us-trophies-swiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply !w-[13.5px] !h-[13.5px] rounded-full bg-primary-main;
}
