.nikan365_slider .swiper-pagination-bullet {
  background-color: #d9d9d9 !important ;
  width: 17px !important;
  height: 17px !important;
  opacity: 1 !important;
}
.nikan365_slider .swiper-pagination-bullet-active {
  background-color: #31d1b0 !important ;
}
