@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bcbcbc;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
}
